section#file-selector {
  padding: 10px;
  height: 100%;
}

.file-selector-list > li, .file-selector > li {
  position: relative;
  display: block;
  padding: 10px 64px 10px 10px;
  font-size: 14px;
  overflow-x: auto;

  .file__path {
    color: #ccc;
  }

  > a {
    text-decoration: none;
  }
}

.file-selector {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  min-width: 350px;
  position: relative;
}

.file-selector-list {
  height: 80%;
  overflow-x: auto;
}

.counter {
  display: inline-block;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  color: #666;
  background-color: #eee;
  border-radius: 20px;
}

.file-selector > h3 {
  display: block;
  padding: 9px 10px 10px;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  background-color: #FBFBFB;
  border-bottom: 1px solid #d8d8d8;
}

.search_block {
  margin-bottom: 8px;
  position: relative;
}

.search_block_input {
  padding: 13px 26px 15px 65px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.38);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.search_block_input:focus {
  border-color: rgba(221, 55, 53, 0.65);
  color: #555555;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(221, 55, 53, 0.65);
}

.file-selector-list .clickable {
  padding: 15px 17px 16px 9px;
  background-color: #fff;
  margin-bottom: 8px;
}

.file__icon {
  width: 50px;
  height: 41px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  text-align: center;
}

.file__block_info {
  display: inline-block;
  vertical-align: top;
  margin-left: 9px;
  margin-right: 9px;
}

.file__basename {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
}
.file__path {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.file__all_timer {
  width: 53px;
  height: 14px;
  background-color: #e0e0e0;
  border-radius: 7px;
  margin-top: 5px;
}

.icon_timer {
  padding: 2px;
  border-radius: 7px;
  background-color: #8BC34A; /*#dd3735 - red color*/
  display: inline-block;
  vertical-align: top;
}
.time_text {
  margin-left: 3px;
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  line-height: 14px;
}

.file-selector-list .selected {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24);
}

.selected .file__action {
  background-color: #DD3735;
}

.file__action {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  background-color: #c5c5c5;
  border-radius: 50px;
  margin-top: 5px;
  float: right;
}
.file__action_triangle_right {
  width: 10px;
  margin: 4px 0px 0px 8px;
}

.file__size {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38);
}
