.snapshots {
  display: inline-block;
  vertical-align: top;
  flex-grow: 1;
  margin-left: 26px;
}

.snapshots > h3 {
  display: block;
  padding: 9px 10px 10px;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  background-color: #FBFBFB;
  border-bottom: 1px solid #d8d8d8;
}

.snapshots .selectable {
  margin-bottom: 8px;
}

.snapshots > .search_block_input {
  width: 40%;
}
.snapshot__heading .file__path{
  margin-left: 26px;
}
.snapshots .icon_heading {
  display: inline-block;
  position: relative;
  top: 6px;
  margin-right: 16px;
  transition: transform 0.15s;
}
.selected .icon_heading {
  transform: rotate(180deg);
}
.snapshots > li {
  &.selected {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24);
    > .snapshot__content {
      display: block;

      pre.midas {
        padding: 8px 16px;
        margin: 0;
      }
    }
  }

  > .snapshot__content {
    display: none;
    max-height: 1000px;
    overflow: auto;
  }

  > h3 {
    font-size: 15px;
    margin: 0;
    display: block;
    padding: 9px 10px 10px;
    line-height: 17px;
    background-color: #fff;
    position: relative;

    > .help-link {
      margin-left:5px;
    }

    > .snapshot__timing {
      position: absolute;
      right: 24px;
      top: 15px;
      padding: 5px 8px;
      font-size: 11px;
      font-weight: bold;
      line-height: 1;
      color: #fff;
      background-color: #8BC34A;
      border-radius: 10px;
    }
  }
}
