.snapshots__view {
  display: inline-block;
  vertical-align: top;
  flex-grow: 1;
  margin-left: 26px;
}

.snapshot__basename {
  padding: 9px 10px 10px;
  margin: 0;
  line-height: 17px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 15px;
  display: block;
  padding-left: 40px;
  background-color: #fff;
  position: relative;
}

.snapshot__helper_block {
  float:right;
}
.snapshot__helper:hover {
  background-color: #6f6f6f;
  text-decoration: none;
}

.snapshot__timing, .snapshot__helper {
  padding: 5px 8px;
  margin-left: 10px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  background-color: #8BC34A;
  border-radius: 10px;
}
.snapshot__helper {
  background-color: #c5c5c5;
}

.snapshots__view .selectable {
  margin-bottom: 8px;
}

.snapshots__view .search_block_input {
  width: 40%;
}

.snapshots__view .icon_heading {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 10px;
  transition: transform 0.15s;
}

.selected .icon_heading {
  transform: rotate(180deg);
}

.snapshots__view .snapshot__item {
  &.selected {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24);
    > .snapshot__content {
      display: block;

      pre.midas {
        padding: 8px 16px;
        margin: 0;
      }
    }
  }

  > .snapshot__content {
    display: none;
    max-height: 1000px;
    overflow: auto;
  }

  > .help-link {
    margin-left:5px;
  }
}
