
.main__block {
  display: flex;
  height: 80%;
  justify-content: center;
}



.search_icon {
  position: absolute;
  left: 19px;
  top: 15px;
}

.footer__block {
  position: fixed;
  bottom: 4px;
  left: 42px;
  text-align: center;
  font-size: 12px;

  div {
    display: inline-block;
    padding:2px 5px;
    background-color: #c5c5c5;
  }
}


@media screen and (max-width:968px) {
  .main__block {
    display: block;
  }
  .snapshots__view {
    display: block;
    margin-left: 0px;
  }
  .file__view {
    display: block;
  }

  .file__item {
    width: 210px;
    display: inline-block;
    margin-right: 5px;
  }

  .file__block_info {
    margin-top: 5px;
  }

  .file__path {
    height: initial;
  }
}

@media screen and (max-width:650px) {
  .link-github, .documentation-link {
    display: inline-block;
    width: 40%;
  }
}

@media screen and (max-width:410px) {
  .file__item {
    box-sizing: border-box;
    width: 100%;
  }
  .snapshot__basename .file__path {
    width: 100px;
    display: block;
  }
}
