
.main_container {
  display: flex;
  height: 80%;
  justify-content: center;
}



.search_icon {
  position: absolute;
  left: 19px;
  top: 15px;
}

.logo_main {
  display: inline-block;
  vertical-align: top;
  margin-top: -10px;
  margin-right: 10px;
  width: 45px;
}

.footer__block {
  position: fixed;
  bottom: 4px;
  left: 42px;
  text-align: center;
  font-size: 12px;

  div {
    display: inline-block;
    padding:2px 5px;
    background-color: #c5c5c5;
  }
}


@media screen and (max-width:968px) {
  .main_container {
    display: block;
  }
  .snapshots {
    display: block;
    margin-left: 0px;
  }
  .file-selector {
    display: block;
  }

  .file-selector li {
    width: 150px;
    display: inline-block;
    margin-right: 5px;
  }

  .file__block_info {
    margin-top: 5px;
  }

}

@media screen and (max-width:650px) {
  .link-github, .documentation-link {
    display: inline-block;
    width: 40%;
  }
}

@media screen and (max-width:410px) {
  .file-selector li {
    box-sizing: border-box;
    width: 100%;
  }
  .snapshot__heading .file__path {
    width: 100px;
    display: block;
  }
}
