html {
  height: 100%;
}

body {
  position: relative;
  background: #fff;
  font-family: Roboto,sans-serif;
  margin:0;
  padding:0;
}

h1 {
  font-size:24px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding:18px 26px 18px 82px;
  background-color: #DD3735;
  z-index: 100;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24);

  > h1 {
    margin: 0;
    color:#fff;
  }
  h1 {
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
  }
}

article {
  width: 95%;
  margin: 0 auto;
  padding-top: 99px;
  padding-bottom: 52px;
  height: 100%;
}

.link-github, .documentation-link {
  float: right;
  padding: 10px 14px 10px 13px;
  box-sizing: border-box;
  cursor: pointer;
  margin: -10px 0px 0px 24px;
  color:#fff;
  &:active {
    backgound-color: rgba(153, 153, 153, 0.20ы);
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

pre {
  border: none;
  border-radius: 0;
}

.clickable {
  padding: 10px;
  cursor: pointer;

  &:active {
    background-color: #C5302E;
  }
}



.main_container {
  display: flex;
  height: 80%;
  justify-content: center;
}
