html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px 36px;
  margin-bottom: 10px;
  background: white;
  border-bottom: 1px solid #ccc;
  color: #303030;
  cursor: default;

  > * {
    margin: 0;
    font-size: 36px;
  }

  img {
    height: 36px;
    margin-top: -4px;
  }
}

article {
  margin: 0 36px;
  padding-top: 74px;
  padding-bottom: 52px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px 36px;
  margin-top: 10px;
  background: white;
  border-top: 1px solid #ccc;
  text-align: right;

  &, a, a:hover {
    color: #dd3735;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

pre {
  border: none;
  border-radius: 0;
}

.selectable {
  background: #f0f0f0;
}

.clickable {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background: #09f;
    color: #f8f8f8;
  }
}

.selected {
  background: #888;
  color: #f8f8f8;
}
